.textImg{
    display: flex;
    margin: 120px 30px 0px 30px;
    background-color:#e9eaed;
}

.textImg > img{
    max-width: 50%;
}
.textImg > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 0px 0px 70px;
    padding-right: 75px;
  
}
.textImg > div > h2{
    font-family: 'Cinzel', serif;
    font-size: 30px;
    margin-top: 50px;

}


.textImg > div > a{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 23px;
    margin-top: auto;
    margin-bottom: 20px;
    color: black;
    text-decoration: underline 2px solid #80021c;
    text-underline-offset: 5px;
    /* padding: 15px 15px 15px 0px; */
    transition:  text-decoration 0.6s ;


}
.textImg > div > a:hover{
   
  
    text-decoration: underline 2px solid #c5801d;
}

@media screen and (max-width:800px){
    .textImg {
        border-radius: 10px;
    }
    .textImg img{
        border-radius: 10px;
    }
    .textImg div h2, .textImg div p{
        display: none;
    }
    .textImg > div > a{
        margin-top: 25px;
    }


}
@media screen and (max-width:1080px){
    .textImg{
         display: block;
    }
    .textImg > img{
        max-width: 100%;
    }
   

}

