{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<main class="">
       

        
        
    <Section  class="grid__continent">

        <div class="card__continent card__continent-eu"><a href="">Europe</a></div>
        <div class="card__continent card__continent-pres">
            <h3>Nos experts certifier s'assure de vous amener les timbres les plus rares provenant des  quatres coins du monde.</h3>
            <a href="">Voir tout notre catalogue</a>
        </div>
        <div class="card__continent card__continent-ocea"><a href="">Oceanie</a></div>  
        <div class="card__continent card__continent-afr"><a href="">Afrique</a></div>
        <div class="card__continent card__continent-ame"><a href="">Ameriques</a></div>
        <div class="card__continent card__continent-asia"><a href="">Asie</a></div>
    </Section>

<section class="textImg">

    <img src="assets/media/img/bannerStamp2.jpg" alt="">

    <div >
        <h2>Lord Reginald Stampee III</h2>

        <p>Nee le 6 aout 1950 a Londres, il est un des plus celebres philatelistes anglais.Ses collections de timbres ont ete les plus completes connues pour l'epoque classique (timbres emis avant 1900), avec une passion pour les emissions d'avant 1870. Elles ont notamment concerne les provinces canadiennes et la Confederation du Canada, la Suisse, la colonie du Cap, Ceylan, le Gambie, Maurice, l'Argentine et l'Uruguay. Pour l'histoire postale des etats-Unis, sa collection est une reference pour les affranchissements dans l'Ouest du pays.<br>

            Membre actif du Collectors Club of New York, Theodore Steinway et lui ont permis le developpement de cette association. Juge international pendant trois decennies, il est le commissaire des expositions philateliques internationales de 1980. En mars 1985 Ã  New York, Theodore Steinway, plusieurs philatelistes et lui fondent la Philatelic Foundation, institution educative a  but non lucratif qui se donne pour but des travaux d'expertise, de recherches et de publications philateliques. Ses collections et celles de sa fille ont ete disperses par la maison aux encheres Harmer's entre 1968 et 1971, 1989 et 1992 et en 1997.<br>
            
            Les timbres sont sa passion et Lord Stampee veut offrir au reste du monde cette passion via sa plateforme.</p>
        <a href="">Lire plus sur la mission et les valeurs du Lord Stampee...</a>
    </div>

</section>

<h2 class="card_titre-section">Actualites</h2>
<section class="grid__nouvelle">

    <article class="card__nouvelle" >
        <a  href="">
            <h3>Un facteur chanceux.</h3>
            <small>2022-11-09</small>
            <img src="assets/media/img/article1.jpg" alt="">
            <p>Lorem ipsum dolor sit, a?</p>
            <h4>Marc Lahoule</h4>
        </a>
    </article>

    <article class="card__nouvelle">
        <a href="">
            <h3>une partie de bridge entre amis se termine en histoire d'horreur</h3>
            <small>2022-11-02</small>
            <img src="assets/media/img/artircle2.jpg" alt="">
            <p>Lorem ipsum dolor sit, a?Lorem ipsum dolor sit, a?Lorem ipsum dolor sit, a?Lorem ipsum dolor sit, a?</p>
            <h4>Rita Skeeter</h4>
        </a>
    </article>

    <article class="card__nouvelle">
        <a href="">
            <h3>Timbres, Whiskey et Cigar</h3>
            <small>2022-10-26</small>
            <img src="assets/media/img/article3.jpg" alt="">
            <p>Lorem ipsum dolor sit, a?</p>
            <h4>Islay Bushmills</h4>
        </a>
    </article>

    <article class="card__nouvelle">
     
        <a href="">
            <h3>le top 10 des timbres a surveiller pour 2023 </h3>
            <small>2022-10-19</small>
            <img src="assets/media/img/article4.png" alt="">
            <p>Lorem ipsum dolor sit, a?</p>
            <h4>Alfred Likcroct</h4>
        </a>

    </article>



</section>

<section class="collectionLinkSVG">
    <div class="collectionLinkSVG__text">
        <h3>Contruiser et garder un inventaire detaille de votre collection.</h3>
        <h4> Services offerts par la maison d'enchere Stampee :</h4> 
        <ul>
                <li>Satisfaction garantis sur tout vos achats </li>
                <li>Service d'evaluation de timbre a l'uniter ou de collection</li>
                <li> organisation d'enchere pour collection entiere ( valeur minimal de 10 000$ obligatoires )</li>
                <li>Et bien plus encore...</li>

               

        </ul>
            

        <a href="">Commencer votre collection </a>

    </div>
    <div class="SVG">
        <div>
            <h5>"Be like a postage stamp. Stick to one thing until you get there."</h5>
            <h6>-Josh Billings-</h6>
        </div>
        <img src="assets/media/img/postman.png" alt="">
        <img src="assets/media/img/victoria.png" alt="">
    </div>
    

</section>

</main>

{% endblock %}
